<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diamond API</title>
</head>
<body>
    <h1 style="color: #5e9ca0;">Cześć!</h1>
    <h2 style="color: #2e6c80;">Znajdujesz się na stronie gł&oacute;wnej modelu ML do szacowania ceny diament&oacute;w.</h2>
    <p>Stworzony model machine learningowy (a precyzyjniej model typu RandomForrestRegressor) został wytrenowany na ok. 33 tyś obserwacji w celu przewidywania ceny diamentu na podstawie 7 parametr&oacute;w:</p>
    <ul>
        <li>(float) carat</li>
        <li>(int) cut</li>
        <li>(int) color</li>
        <li>(int) clarity</li>
        <li>(float) depth</li>
        <li>(float) table</li>
        <li>(float) volume</li>
    </ul>
    <p>API modelu ML znajduje się pod adresem <code>/api/predict</code></p>
    <p><em>Przykładowe zapytanie wygląda następująco (pamiętaj o podaniu wszystkich 7 parametr&oacute;w):</em></p>
    <p><code><span style="color: #808080;">127.0.0.1:5010/api/predict?&amp;carat=0.37&amp;cut=3&amp;color=0&amp;clarity=2&amp;depth=59.2&amp;table=61.0&amp;volume=60.06</span></code></p>
    <p><em>Uwaga! (127.0.0.1:5010) - adres i port mogą być inne. Sprawdź swoje ustawienia sieci.</em></p>
    <p>Wyślij zapytanie do API, aby dowiedzieć się jaka jest sugerowana cena Twojego diamentu :)</p>
    <p>Więcej informacji odnośnie przygotowania modelu ML, serwera Flask oraz obrazu Dockera znajdziesz na: <a href="https://github.com/jmasny/adwr_ml_flask_deploy">github.com/jmasny/adwr_ml_flask_deploy</a></p>
</body>
</html>
